*.sqlite
bin/
obj/
.suo
.csproj.user

.vs/

# NuGet Packages Directory
packages/

# Master database credentials file for developers
master_database_credentials.xml

*.csproj.user

*.pfx

publish/

SandbarWorkbench/SQLite.Interop.dll