<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SandbarWorkbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SandbarWorkbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <SandbarWorkbench.Properties.Settings>
      <setting name="LastDatabasePath" serializeAs="String">
        <value />
      </setting>
      <setting name="AWSCloudWatchGUID" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="AWSLoggingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AWSSecret" serializeAs="String">
        <value>hSd6jwqQUs8Bk2AxC+hXV/CNhY3J2KP2gmIesC5/</value>
      </setting>
      <setting name="LoadLastDatabase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartupView" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InstallationHash" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="MasterServer" serializeAs="String">
        <value>mysql.northarrowresearch.com</value>
      </setting>
      <setting name="MasterUser" serializeAs="String">
        <value>nar</value>
      </setting>
      <setting name="MasterPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MasterDatabase" serializeAs="String">
        <value>SandbarData</value>
      </setting>
      <setting name="Folder_SandbarTopoData" serializeAs="String">
        <value>D:\GCMRC\PHYSICAL\Sandbars\Topo_Data\corgrids</value>
      </setting>
      <setting name="SandbarIdentification" serializeAs="String">
        <value>SiteCode5</value>
      </setting>
      <setting name="Default_InputCellSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Default_OutputCellSize" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="Default_Interpolation" serializeAs="String">
        <value>21</value>
      </setting>
    </SandbarWorkbench.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <applicationSettings>
    <SandbarWorkbench.Properties.Settings>
      <setting name="AWSRegion" serializeAs="String">
        <value>us-west-2</value>
      </setting>
      <setting name="AWSGroupName" serializeAs="String">
        <value>NARApps-SandbarWorkbench</value>
      </setting>
      <setting name="AWSKey" serializeAs="String">
        <value>AKIAIM7D6NQSGCW37YDQ</value>
      </setting>
      <setting name="ListID_SectionTypes" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="LookupListID_TableTypes" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ListID_InstrumentTypes" serializeAs="String">
        <value>9</value>
      </setting>
    </SandbarWorkbench.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
</configuration>